<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated  %}
    <h1 id="num">1</h1>
    <script>
        let socket = new WebSocket('ws://127.0.0.1:8000/ws/num/');
        socket.onmessage = function(event){
            let data = event.data;
            console.log(data);
            document.querySelector('#num').innerText = data;
        }
    </script>
{% else %}
    <a href="#">login</a>
{% endif %}

</body>
</html>