<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "index.css" %}">
</head>
<body>
{% if user.is_authenticated %}
    <div>
        <h1>{{ user }}</h1>
        <h1 id="num">...</h1>
        <a href="{% url 'logout' %}">Выйти</a>
    </div>
    <script>
        let socket = new WebSocket('ws://' +
            window.location.host +
            ':8000/ws/num/'
        );

        socket.onopen = function(){
            socket.send('');
        }

        socket.onmessage = function(event){
            let data = event.data;
            console.log(data);
            document.querySelector('#num').innerText = data;
        }
    </script>
{% else %}
    <div>
        <a href="{% url 'social:begin' 'github' %}">Зайти через GitHub</a><br>
    </div>

{% endif %}
</body>
</html>